<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notes.notetaking">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.Camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Activity.MainActivity">

        </activity>
        <activity android:name=".Util.GraffitiActivity"/>
        <activity android:name=".Activity.NewAlarmActivity" />
        <activity android:name=".Activity.AddNotesActivity" />
        <activity android:name=".Activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.UpdateInformationActivity" >

        </activity>
        <activity android:name=".Activity.ModifyAlarmActivity"></activity>

        <!--<activity android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--/>-->
    </application>

</manifest>